.console{
    list-style: none;
    color:rgba(102, 71, 71, 0.726);
    padding:0;
    height: 100%;
}
#events{
    padding-left: 0;
    margin: 2rem;
    margin-bottom: 1rem;

    text-align: center;
    max-height: 500px;
    overflow: auto;
    
}
div#chat_box{
    width: 25% ;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategray;

    
   
    background-color: rgba(32, 32, 32, 0.082);

    padding-bottom: 1rem ;
}
#chatform{
    text-align: center;
    
}
#chat-form{
    width: 300px;
    margin: 0 auto;


}

.chat-send-form{
   /* padding: 0.3rem; */
    padding-left: 1rem;
    background-color: white;
    display: inline-block;
    height: 40px;
    border-radius: 5px;
}

#chat{
    padding:0;
    color: #666;
    border: none;
    
}#chat:focus{
    outline:none;
}
#Send{
   /* display: inline-block; */
    color: white;
    font-size: 1rem;
    border: none;
    background-color:grey;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-duration: 0.4s;
}

#Send:focus{
    outline:none;
    
}

#Send:hover{
    color:white;
    background-color: lightslategrey;
}
li.Client{
    list-style: none;
    background-color: lightgreen;
    text-align: left;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin: 0.5rem;
    border-top-right-radius: 0.3rem;
    border-width: 1px;
    border-color: black;
}





