<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/navigation') -%>

<!-- Modal -->
    <div class="modal fade" id="name">
        <div class="modal-dialog modal-dialog">
            <div class="modal-content border-info">
                <div class="modal-header">
                    <h5 class="modal-title">Ingrese su nombre: </h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" id="nameForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary">Elegir</button>
                            </div>
                            <input class="form-control" id="nickname">
                            
                        </div>
                    </form>
                    
                <div id="nickError"></div>
                </div>

            </div>
        </div>
    </div>



<!--CHAT-->
    <div class="ml-0 ">
        <div id="chatbox" class="col-lg-2 px-0">
            <div class="card border-light mb-0 shadow">
                <div class="card-header">
                    <div id="users" class="float-left mb-0"><i class="fas fa-users"></i> 0</div>
                    <button type="button" class="close" aria-label="Close" id="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="text-center">
    
                        <p class="text-danger mb-0">CHAT</p>
                    </div>
                </div>
                <div class="card-body chat-body" id="chat_box">
                    <ul class="" id="chat">
    
                    </ul>
                </div>
                <div class="card-footer">
                    <form id="chatForm">
                        <div class="input-group mb-0">
                            <input class="form-control" id="inputText" autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-info" id="btn-chat"><i class="fab fa-telegram-plane"></i></button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        
        

        
</body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
        
</html>